.bug-button {
	background: url(images/fun/bug.png);
}

.add-button {
	background: url(images/fun/add.png);
}

.delete-button {
	background: url(images/fun/delete.png);
}

.edit-button {
	background: url(images/fun/edit.png);
}

.save-button {
	background: url(images/fun/save.png);
}

.query-button {
	background: url(images/fun/query.png);
}

.refresh-button {
	background: url(images/fun/refresh.png);
}

.trash-button {
	background: url(images/fun/trash.png);
}

.exp-button {
	background: url(images/fun/exp.png);
}

.imp-button {
	background: url(images/fun/imp.png);
}

.print-button {
	background: url(images/fun/print.png);
}

.root-menu {
	background-image: url(images/module/root.png) !important;
}

.module-menu {
	background-image: url(images/module/module.png) !important;
}

.set-menu {
	background-image: url(images/module/set.png) !important;
}

.role-menu {
	background-image: url(images/module/role.png) !important;
}

.user-menu {
	background-image: url(images/module/user.png) !important;
}

.authority-menu {
	background-image: url(images/module/authority.png) !important;
}

.log-menu {
	background-image: url(images/module/log.png) !important;
}

.serialnumber-menu {
	background-image: url(images/module/serialnumber.png) !important;
}

.master-menu {
	background-image: url(images/module/master.png) !important;
}

.key-text {
	background-image: url(images/fieldset/key.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 40px;
}

.password-text {
	background-image: url(images/fieldset/password.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 40px;
}

.logo {
	background: url(images/logo/logo.png) no-repeat;
	background-size: 100% 100%;
}

.top {
	background: url(images/logo/top.png) no-repeat;
	background-size: 100% 100%;
}

.fun {
	background: url(images/fun/fun.png) no-repeat;
	background-size: 100% 100%;
}

.win-excel{
	background: url(images/window/excel.png) no-repeat;
	background-size: 100% 100%;
}