.bug-button {
	background: url(images/button/bug.png);
}

.add-button {
	background: url(images/button/add.png);
}

.delete-button {
	background: url(images/button/delete.png);
}

.edit-button {
	background: url(images/button/edit.png);
}

.save-button {
	background: url(images/button/save.png);
}

.query-button {
	background: url(images/button/query.png);
}

.refresh-button {
	background: url(images/button/refresh.png);
}

.trash-button {
	background: url(images/button/trash.png);
}

.exp-button {
	background: url(images/button/exp.png);
}

.imp-button {
	background: url(images/button/imp.png);
}

.print-button {
	background: url(images/button/print.png);
}

.root-menu {
	background-image: url(images/menu/root.png) !important;
}

.module-menu {
	background-image: url(images/menu/module.png) !important;
}

.set-menu {
	background-image: url(images/menu/set.png) !important;
}

.role-menu {
	background-image: url(images/menu/role.png) !important;
}

.user-menu {
	background-image: url(images/menu/user.png) !important;
}

.authority-menu {
	background-image: url(images/menu/authority.png) !important;
}

.log-menu {
	background-image: url(images/menu/log.png) !important;
}

.serialnumber-menu {
	background-image: url(images/menu/serialnumber.png) !important;
}

.master-menu {
	background-image: url(images/menu/master.png) !important;
}

.key-text {
	background-image: url(images/fieldset/key.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 40px;
}

.password-text {
	background-image: url(images/fieldset/password.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 40px;
}

.logo-login {
	background: url(images/window/login.png) no-repeat;
	background-size: 100% 100%;
}

.logo {
	background: url(images/window/logo.png) no-repeat;
	background-size: 100% 100%;
}

.fun {
	background: url(images/window/fun.png) no-repeat;
	background-size: 100% 100%;
}

.Undo {
	background: url(images/window/Undo.png);
}

.Redo {
	background: url(images/window/Redo.png);
}

.china {
	background: url(images/window/china.png) no-repeat;
	background-size: 100% 100%;
}

.usa {
	background: url(images/window/usa.png) no-repeat;
	background-size: 100% 100%;
}

.italia {
	background: url(images/window/italia.png) no-repeat;
	background-size: 100% 100%;
}

.win-excel{
	background: url(images/window/excel.png) no-repeat;
	background-size: 100% 100%;
}